@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
  url('../../assets/fonts/BebasNeue/BebasNeueRegular.woff2') format('woff2'),
  url('../../assets/fonts/BebasNeue/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
};
@font-face {
  font-family: 'Apercu Pro';
  src: local('Apercu Pro Regular'), local('ApercuPro-Regular'),
  url('../../assets/fonts/ApercuPro/ApercuPro-Regular.woff2') format('woff2'),
  url('../../assets/fonts/ApercuPro/ApercuPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
