@import "helpers";
* {
  outline: none;
}

body {
  font-family: 'Apercu Pro';
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: $accent-color;
}

section, header, footer {
  margin: 0;
  padding: 0;
}

.top-nav-link {
  color: white;
  outline: none;
  &:hover, &:active, &:focus {
    color: rgba(#fff, 0.5);
    text-decoration: none;
    outline: none;
  }
}

h1,h2,h3,h4,h5 {
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2.8px;
  line-height: 58px;
  margin: 0;
  padding: 0;

}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  padding: 10px 0;
}
.slick-prev:before, .slick-next:before {
  color: $accent-color !important;
}

.slick-dots li.slick-active button:before {
  color: $accent-color !important;
  font-size: 10px;
}
