<div class="wraper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="pt-5">О нас</h2>
        <div class="line-2 my-5"></div>
        <p>Небольшая региональная компания В собственности Гранитный карьер площадью 40.6 ГА глубина 80 М лицензия до 2028г
          с продлением.</p>
        <p>
          Видим как развивается цифровая экономика.

        </p>
        <p>
          Принято решение воспользоваться новым инструментом для до капитализации карьера и создание торговой платформы для заключения
          сделок по МИРУ .
        </p>

        <p>
          Выделяем 20% прибыли карьера .Создаём и регистрируем IT-Mountain-group У компании как традиционные счета так и крипто-кошельки
          ,для поддержки MNT и распределения бонусов среди сообщества кто поддержал нас на старте.
        </p>
        <p>
            Smart contracts запоминает Ethereum адрес партнёра . В определённое число smart contract обращается к Ethereum кошельку  IT- Mountain-group и отправляет партнёрам Ethereum не зависимо от баланса.
        </p>
        <p>
            Если каким-то чудом у вас скопилось 0.2% от общего числа MNT вы можете обменять на долю в IT-Mountain-group. IT-mountain- group занимается не только продвижением market please StoneMarket от изучения Blockchain до AI ‘Искусственный Интеллект ‘ для внедрения в промышленность.
        </p>
        <div class="line-2 my-5"></div>
      </div>
    </div>
  </div>
</div>
