<div class="wraper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="pt-5">О нас</h2>
      <div class="line-2 my-5"></div>
      <p>Наша компания занимается добычей и переработкой гранита.</p>
      <p>Последний год проявляем интерес к технологии блокчейн.</p>
      <p>Сейчас мы формируем команду, способную решить 2 задачи:</p>
      <ul>
        <li>Успешное проведение ICO.</li>
        <li class="pb-4">Разработка, запуск и продвижение платформы StoneMarket.</li>
      </ul>
      <p>Наш опыт показывает,  что сейчас нет четкой связи между добывающими компаниями и переработчиками камня. Платформа StoneMarket
        должна решить данную проблему. Фактически, мы создаем компанию трейдер на рынке каменной продукции. Карьер покроет
        наши потребности в сырье, а разрабатываемая платформа должна вывести нас на новые рынки сбыта. Сейчас мы обрабатывем
        200 м3 камня в месяц при планируемом объеме добычи карьером в 450 м3.
      </p>
      <p>
        Таким образом, на старте мы обеспечим спрос на 25% добываемого камня.
      </p>
      <div class="line-2 my-5"></div>
      </div>
    </div>
  </div>
</div>
