<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <button (click)="toggleCollapse ()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/img/logo-white.svg" alt=""> mountaintoken
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [class.show]="show">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>
      <a *ngIf="authGuard.canActivate()" class="d-block pr-3 pl-3 pl-lg-0" routerLink="/users">пользователи</a>
      <a *ngIf="authGuard.canActivate()" class="d-block pr-3 pl-3 pl-lg-0" routerLink="/profile">профайл</a>
      <a class="d-block pr-3 pl-3 pl-lg-0" routerLink="/login">вход</a>
      <span class="text-white d-block pr-3 pl-3 pl-lg-0" (click)="logOut()">выход</span>
      <a class="d-block pt-2 pt-lg-0 pl-3 pl-lg-0" routerLink="/signup">регистрация</a>
      
    </div>
  </div>
</nav>
