<div class="wraper">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h2 class="pt-5">Mountaintoken</h2>
        <div class="line-2 my-5"></div>
      </div>
      <div class="col-md-4">
        <p>
          <strong>
            Всего: 45.600.000 MNT.
          </strong>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>
            ICO: 35.600.000 MNT
          </strong>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>
            1 MNT = 0.2 – 0.65 USD
          </strong>
        </p>
      </div>
      <div class="col-12 pt-4">
        <p>Первичные покупатели токенов, будут получать вознаграждение в течении 5 лет до 2023 года. В зависимости от конъюнктуры
          рынка, на вознаграждения будет направляться до 25% от EBITDA, на программу обратного выкупа до 40% от EBITDA. На
          поддержание MNT 10% от EBITDA.</p>
        <p>Начиная с 2023 года, на программу обратного выкупа будет направляться 60% EBITDA, на выплату вознаграждения 10% EBITDA.</p>

        <p>
          Участникам ICO, которые захотят остаться в проекте, будут предложены индивидуальные условия.
        </p>
        <p>
          Заявку на обратный выкуп могут подавать, только первичные покупатели токенов
        </p>
        <p>
          Остальные токены можно будет обменять на биржах, либо на StoneMarket.
        </p>
        <p>
          Стоимость каждого токена, привязана к стоимости 0.002 куб.м. гранитного блока.
        </p>
        <p>
          Каждый владелец токена, сможет обменять токены на площадке StoneMarket на гранитные блоки, исходя из курса 1MNT= блоку размером
          0.002 куб.м. , либо обменять на другую продукцию, размещенную на площадке.

        </p>
        <div class="line-2 my-5"></div>
      </div>
    </div>
  </div>
</div>
