<div class="">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="pt-5">О нас</h2>
        <div class="line-2 my-5"></div>
        <p>Мы - региональная компания
        </p>
        <p>
          Компания «Малиновый кварцит» является единственным разработчиком уникального «Шокшинского» месторождения малиновых кварцитов и кварцито-песчанников (Республика Карелия п. Кварцитный). 
        </p>
        <p>
          Малиновый кварцит (Шокша) один из самых дорогих и редких камней добываемых на территории РФ. 

        </p>

        <p>
          Мы располагаем собственным обрабатывающим производством.

        </p>
        <p>
          Осуществляем поставку как готовых изделий из малинового кварцита, так и заготовок.
        </p>
        <p>
          Шокшинское месторождение кварцитов и песчаников ООО «Малиновый кварцит» является сырьевой базой для производства брусчатки, блоков для изготовления декоративных облицовочных и ритуальных изделий, а также камня для ландшафтных работ.

        </p>
        <p>
          Поставляем изделия из других камней: габбро-диабаз, дымовский гранит, гранатовый амфиболит, елизовский, сопка Бунтина.
        </p>
        <p>
          В 2018 году нами было принято решение воспользоваться новым инструментом для до капитализации карьера и создание торговой платформы для заключения сделок по МИРУ .
        </p>
        <p>
          Технология блокчейн доступна любому партнеру и позволяет безопасно совершать обмен каменных изделий и минералов на любой континет.

        </p>
        <p>
          Создание приложения, позволяющего заключать сделки между продавцами и покупателями при помощи графического интерфейса обусловлено развитием блокчейн технологий и призвано упростить взаимодействие производителя и потребителя, сделать его более удобным и безопасным.
        </p>
        <p>
          Созданное нами после ICO  подразделение  «It Mountain Group» планирует объединить горнодобывающую, камнеперерабатывающую  промышленность (производителей) и потребителей посредством StoneMarket – Marketplace.
        </p>
        <app-gallery-about-us></app-gallery-about-us>
        <div class="line-2 my-5"></div>
      </div>
    </div>
  </div>
</div>
