<header class="text-center pb-5">
  <h1 class="text-white lineHeight-76 fz-60 py-85">
    mountaintoken - MNT
    <br> обеспечен гранитом
    <br> рабочая платформа stonemarket
    <br>
  </h1>
  <img src="../../assets/img/logo-white-alfa.png" alt="MNT">
  <h3 class="text-white my-4">1mnt = 0.002 куб.м гранитного блока</h3>
  <!-- <h4>
    <a class="btn-accent px-5" routerLink="/mountaintoken-page">подробнее</a>
  </h4> -->
  <h4>
    <a class="btn-accent px-5" routerLink="/signup">подробнее</a>
  </h4>
</header>
<div class="accent-line mb-5"></div>


<section class="stonemarket text-center py-5">
  <img class="macbook" src="../../assets/img/mac-mockup.png" alt="STONEMARKET">
  <div class="bg-gray">
    <div class="accent-line"></div>
  </div>

  <div class="container">
    <h2 class="fz-48 text-center pb-5">
      РАБОЧАЯ ПЛАТФОРМА
    </h2>
    <h2 class="fz-48 text-left">
      StoneMarket - Marketplace приложение для перемещения КАМНЕЙ ПО МИРУ от сырьевых до минеральных.

    </h2>
    <div class="row">
      <div class="col-lg-5 col-sm-12">
        <ul class="text-left">
          <li>Любой старатель может разместить свой камень или изделие</li>
          <li>Компании размещающее свою каменную продукцию, смогут привязать к платформе ссылку на сайт для прямой
            связи.</li>
          <li>Для удобства и безопасности заключения сделок между странами и континентами, MNT будет вшит в простые
            смарт-контракты при помощи графического интерфейса.</li>
          <li>Оцениете сами мировой рынок сырьевых и менральных камней, если мы привяжем к StoneMarket хотябы 1% мы
            будем все счастливы</li>
        </ul>
        <h4>
          <a class="d-block btn-accent my-5" routerLink="/signup">
            Стать участником
          </a>
        </h4>
      </div>
      <div class="col-lg-7 mb-5">
        <img class="phone-mockup pt-2" src="../../assets/img/mountain_phone.png" alt="">
      </div>
      <div class="col-lg-12 mt-5">
        <img class="stonemarket-scheme" src="../../assets/img/stonemarket-scheme.svg" alt="">
        <p class="pt-5">
          Технология блокчейн доступна любому партнеру и позволяет безопасно совершать обмен каменных изделий и
          минералов на любой
          континет.
        </p>
        <p class="pt-2">
          Дизайн и функциональность веб-рынка находятся в стадии разработки.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="mnt-gallery">
  <div class="container text-center">
    <h2 class="fz-60 text-center pb-5">
      ПРИМЕРЫ
    </h2>
    <app-gallery-carousel></app-gallery-carousel>
    <div class="empty-block"></div>
  </div>
</section>
<section class="career py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 pt-165">
        <h2 class="fz-60 lineHeight-76 text-white">
          Обеспечение - MNT<br>
        </h2>
        <p class="subtitle text-white py-5">Добыча гранитного камня и щебня.
        </p>
        <h4>
          <a class="btn-accent text-center d-block " routerLink="/signup">Узнать подробнее</a>
        </h4>
      </div>
    </div>
  </div>

</section>
<div class="accent-line mb-5"></div>
<section class="maps">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img class src="../../assets/img/map_docuements.jpg" alt="">
      </div>
      <div class="col-md-6 mt-3">
        <p class="py-4">
          Площадь участка 40.6 га. глубина 80м.
        </p>
        <p>
          Сырьевая база:
        </p>
        <p>
          Запасы категорий – C1-173,  тыс.м.куб. , С2-243,4 тыс.м.куб.
        </p>
        <p>
          С1+С2-416,5 тыс.м.куб.
        </p>
        <p>
          Заключение № 12-06 от 15.08.2006г.
        </p>
        <p>
          Утверждено приказом Министерства промышленности и природных ресурсов.
        </p>
      </div>
      <div class="col-md-6 mt-3">
        <p class="py-4">
          Планируемые операционные показатели:
        </p>
        <ul>
          <li>Объем добычи блочного камня 650 м3 в месяц.</li>
          <li>Выход щебня фракции (5-20мм): 45000 м3 в месяц.</li>
          <li>Выход щебня фракции (20-40мм):21000 м3 в месяц.</li>
          <li>Выход щебня фракции (40-70)мм:13000 м3 в месяц.</li>
        </ul>
      </div>
      <div class="col-12">
        <p>
          При выходе на данные показатели чистая прибыль в месяц будет составлять: 1 188 978 USD
        </p>
        <p>
          Данный денежный поток даст нам возможность выполнить все обязательства перед инвесторами за 5 лет и
          поддерживать развитие MNT и StoneMarket.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="mnt-gallery pt-5">
  <div class="container text-center">

    <app-gallery-carier></app-gallery-carier>
  </div>
</section>





<section class="how-it-work text-center my-5">
  <div class="container">
    <h2 class="fz-60 pt-5">Направляем 20% чистой прибыли</h2>
    <h2 class="fz-60 mt-5 py-5">Как это работает:</h2>
    <p>
      При входе на старте SMARTCONTRACT запоминает партнера и возвращает бонус.
    </p>
    <img src="../../assets/img/how-it-work.svg" alt="">
  </div>
</section>

<section class="it-mountain-group  pb-5">
  <h2 class="fz-60 pt-5 text-center">It Mountain Group</h2>
  <div class="text-center py-4">
    <img class="" src="../../assets/img/mountain-it-group.svg" alt="" style="width: 158px; height: 133px; margin: 0 auto;">
  </div>
  <div class="it-mountain-group-content">
    <p>
      Для проведения ICO и развития проекта Stonemarket будет создан IT Mountain GROUP. Данное подразделение будет
      выступать в качестве маркетмейкера на основных криптобиржах. IT Mountain GROUP будет получать 20% EBITDA от
      деятельности карьера на свои счета, данные средства будут направляться на поддержание ликвидности и капитализации
      MNT.
    </p>
    <p>
      Держатели MNT смогут передавать IT Mountain GROUP в управление свои свободные токены, заключив смарт контракт с
      данной компанией. На переданные средства инвесторы будут получать доходность равную ставка RUONIA + 4%.
    </p>
  </div>
</section>

<section class="mnt-ico accent-bg py-155 text-white">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-4 text-center">
        <img class="logo-white mb-xl-0 mb-5" src="../../assets/img/logo-white.svg" alt="MNT">
        <h4>
          <a class="d-block text-center btn-accent my-5" routerLink="/signup">
            Стать участником
          </a>
        </h4>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-12">
            <h2 class="fz-48 pb-5">
              Mountaintoken - это возможность принять участие в создании торговой площадки StoneMarket
            </h2>
          </div>
          <div class="col-md-6">
            <p>
              Любые камни от промыленных до минеральных, от одного грамма и до тонны, cмогут проходить через
              StoneMarket.
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Каждый владелец токенов, сможет обменивать токены на продукцию, размещенную на площадке stonemarket.
            </p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="fz-48 py-5 text-center">Условие ICO</h2>
    <div class="row">
      <div class="col-lg-6 py-5">
        <table style="width:100%">
          <tr>
            <th>Наименование токена:</th>
            <th>Mountain Token</th>
          </tr>
          <tr>
            <th>Символ токена:</th>
            <th>MNT</th>
          </tr>
          <tr>
            <th>Стандарт токена:</th>
            <th>Ethereum ERC20</th>
          </tr>
          <tr>
            <th>Цена токена на Pre-sale:</th>
            <th>1 MNT = 0.3USD</th>
          </tr>
          <tr>
            <th>Цена токена на ICO:</th>
            <th>1 MNT = 0.4 - 0.75USD</th>
          </tr>
        </table>
      </div>
      <div class="col-lg-6 py-5">
        <table style="width:100%">
          <tr>
            <th>Количество токенов на ICO:</th>
            <th>24 500 000 MNT</th>
          </tr>
          <tr>
            <th>Общее количество токенов:</th>
            <th>30 000 000 MNT</th>
          </tr>
          <tr>
            <th>Мин. привлекаемый капитал:</th>
            <th>3 800 000 USD</th>
          </tr>
          <tr>
            <th>Макс. привлекаемый капитал:</th>
            <th>10 000 000 USD</th>
          </tr>
          <tr>
            <th>Принимаемая валюта:</th>
            <th>ETH</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <h2 class="fz-48 py-5">
          Распределение токенов
        </h2>
        <img class="graff" src="../../assets/img/graff-1.svg" alt="">
      </div>
      <div class="col-md-6">
        <h2 class="fz-48 py-5">
          Распределение средств
        </h2>
        <img class="graff" src="../../assets/img/graff-2.svg" alt="">
      </div>
    </div>
  </div>
</section>
<section class="road-map py-5">
  <h2 class="fz-48 text-center pb-5">
    дорожная карта
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex justify-content-between">
        <p class="fz-30">ICO</p>
        <p class="fz-24 "></p>
      </div>
      <div class="bottom-line mb-3 mx-2 d-md-block d-lg-none"></div>
      <div class="col-md-2 	d-none d-lg-block d-md-none margin-center text-center">
        <img class=" pt-3" src="../../assets/img/road-map-svg/point-1.svg" alt="">
      </div>
      <div class="col-lg-5 d-flex justify-content-between align-items-lg-end">
        <p class="fz-30">Создание компании
          IT-Mountain-Group</p>
        <p class="fz-24 "></p>
      </div>
      <div class="bottom-line mb-3 mx-2 d-md-block d-lg-none"></div>

      <div class=" col-lg-5 d-flex justify-content-between">
        <p class="fz-30">Разработка
          StoneMarket</p>
        <p class="fz-24 "></p>
      </div>
      <div class="bottom-line mb-3 mx-2 d-md-block d-lg-none"></div>

      <div class="col-md-2 d-none d-lg-block d-md-none margin-center text-center">
        <img class="pt-3" src="../../assets/img/road-map-svg/point-2.svg" alt="">
      </div>
      <div class="col-lg-5 d-flex justify-content-between align-items-lg-end">
        <p class="fz-30">Докапитализация
          карьера</p>
        <p class="fz-24 "></p>
      </div>
      <div class="bottom-line mb-3 mx-2 d-md-block d-lg-none"></div>

      <div class=" col-lg-5 d-flex justify-content-between">
        <p class="fz-30">Тестирование
          StoneMarket</p>
        <p class="fz-24 "></p>
      </div>
      <div class="bottom-line mb-3 mx-2 d-md-block d-lg-none"></div>

      <div class="col-md-2 d-none d-lg-block d-md-none margin-center text-center">
        <img class="pt-3" src="../../assets/img/road-map-svg/point-2.svg" alt="">
      </div>
      <div class="col-lg-5 d-flex justify-content-between align-items-end align-items-lg-end">
        <p class="fz-30">Запуск
          StoneMarket</p>
        <p class="fz-24 "></p>
      </div>

      <div class="bottom-line mb-3 mx-2 d-md-block d-lg-none"></div>
      <!--
      <div class=" col-lg-5 d-flex justify-content-between">
        <p class="fz-30">
          Выплата
          <br> дивидендов
          <br> за 2018 год
        </p>
        <p class="fz-24 ">февраль 2019</p>
      </div>
      <div class="bottom-line mb-3 mx-2 d-md-block d-lg-none"></div>

      <div class="col-md-2 d-none d-lg-block d-md-none margin-center text-center">
        <img class="pt-3" src="../../assets/img/road-map-svg/point-2.svg" alt="">
      </div>
      <div class="col-lg-5 d-flex justify-content-between align-items-lg-end">
        <p class="fz-30">
          Запуск
          <br> второй
          <br> площадки
        </p>
        <p class="fz-24 ">апрель 2019</p>
      </div>
      <div class="bottom-line mb-3 mx-2 d-md-block d-lg-none"></div>

      <div class=" col-lg-5 d-flex justify-content-between">
        <p class="fz-30">
          Выплата
          <br> дивидендов
          <br> за первое
          <br> полугодие 2019 года
        </p>
        <p class="fz-24 ">октябрь 2019</p>
      </div>
      <div class="col-md-2 d-none d-lg-block d-md-none text-center">
        <img class="pt-3" src="../../assets/img/road-map-svg/point-2.svg" alt="">
      </div>
    -->
    </div>

  </div>
</section>
<!--<section class="mnt-scheme text-center pb-5">
  <img src="../../assets/img/mnt-scheme.svg" alt="">
  
</section> -->
